body{
	margin: 0;
}

header{
	position: fixed;
	height: 30px;	
	width: 100%;	

	background-color: blue;
	border-width: 3px;
	border-color: #AAAAAA;
}

#photo-screen{
	background: purple; 
    background: linear-gradient(#00ffc4, purple);

	position: fixed;
	top: 30px;
	bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;

	/*text-align: center; */ /*centers the images horizontally*/
}

#info-box{
	visibility: hidden;
	position: fixed;
	z-index: 100;

	width: 30vw;

	border-style: solid;
	border-width: 3px;
	border-color: #AAAAAA;

	background-color: rgba(255,255,0,0.8);

	font-size: 2vw;
}

.photo-container{
	display: inline-block;

	float: left;
	position: relative;
	width: 150px;
	height: 150px;

	border-style: solid;
	border-color: rgb(0,255,0);
	border-width: 3px;

	background-repeat: no-repeat !important;
	background-position: center center !important;
}

/*.centering-helper{
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}*/

/*bad attempt*/
/*.photo::before{
	content: 'h0i!';
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}*/

/*.photo{*/
	/*display:inline-block;*/
	/*vertical-align: middle;*/

	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/

	/*margin: -1px;*/

	/*left: 0;*/
	/*right: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*position: absolute;*/
/*}*/

footer{
	text-align: right;
	width: 100%;	
	position: fixed;
	height: 20px;
	bottom:0%;
	background-color: #ff0000;
}

