body{
	margin: 0;
}

header{
	position: fixed;
	height: 30px;	
	width: 100%;	

	background-color: cyan;
	border-width: 3px;
	border-color: #AAAAAA;
}

#photo-screen{
	position: fixed;
	top: 30px;
	bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#info-box{
	visibility: hidden;
	position: fixed;
	z-index: 100;

	border-style: solid;
	border-width: 3px;
	border-color: #AAAAAA;

	background-color: white;

}

.photo-container{
	/*align-content: center;*/
	margin: 0px;
	padding: 0;
	float: left;
	position: relative;
	width: 150px;
	height: 150px;
}

.photo{
	display: block;
	/*margin: -1px;*/
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}

footer{
	text-align: right;
	width: 100%;	
	position: fixed;
	height: 20px;
	bottom:0%;
	background-color: #ff0000;
}

