body{
	margin: 0;
	font-family: sans-serif;
}

header{
	position: fixed;
	height: 30px;	
	width: 100%;	

	background-color: blue;
	color: white;
	border-width: 3px;
	border-color: #AAAAAA;
}

#country-menu{
	float: right;
}

#search-form{
	float: right;
}

#search-bar{
	background-color: #FFFFFF;
}

#photo-screen{
	background: purple;
    background: linear-gradient(#00ffc4, purple);

	position: fixed;
	width: 100%;
	top: 30px;
	bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#info-box{
    opacity: 0;
	position: fixed;
	z-index: 100;

	width: 30vw;

	border-style: solid;
	border-width: 3px;
	border-color: #AAAAAA;

	background-color: rgba(255,255,0,0.8);

	font-size: 2vw;

	transition: opacity 0.5s;
}

.gender-symbol{
	vertical-align: middle;
}

.gender-texts{
	vertical-align: middle;
}

#country-info-line{

}

#country-flag{
	vertical-align: middle;
}

.country-texts{
	vertical-align: middle;
}

.photo-container{
	display: inline-block;

	float: left;
	position: relative;
	width: 150px;
	height: 150px;

	border-style: solid;
	border-width: 3px;

	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.dimmed-pic{
	box-shadow: 30px 30px 150px black inset, -30px -30px 150px black inset;
}

.flag-thumbnail{
	position: absolute;
	bottom: 0;
	right: 0;
}

footer{
	/*text-align: right;*/
	width: 100%;	
	position: fixed;
	height: 20px;
	bottom:0%;
	background: #ff0000;
	background: linear-gradient(to right, black, #ff0000);
}

#fursuit-count-line{
	color: #FFFFFF;
	float: left;
}

#signature{
	float: right;
}