<!DOCTYPE html>
<html>
<head>
	<title>NFC 2017 fursuiters</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
	<header>Fursuits</header>
	<div id="photo-screen">
		<div id="info-box">h0i!</div>
	</div>
	<footer>Site by Omni H. Sable</footer>
</body>
</html>
