<!DOCTYPE html>
<html>
<head>
	<title>NFC 2017 fursuiters</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flags.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
	<!--TODO: filter by countries -->
	<!--TODO: sorting -->
	<!--TODO: Gender checkboxes -->
	<header>
		Fursuits
		<form id="search-form" onsubmit="return false">
			Search by:
			<select id="search-by-menu">
				<option value="FursuitNickName">Character name</option>
				<option value="FursuitWearer">Wearer name</option>
				<option value="FursuitSpecies">Species</option>
			</select>
			<input type="search" id="search-bar" placeholder="Search query">
			<input id="search-button" type="submit" value="Search!">
			<button id="clear-search-button">Clear</button>
		</form>
	</header>
	<div id="photo-screen">
		<div id="info-box">h0i!</div>
	</div>
	<!--TODO: Total number counter -->
	<footer>
		Site by Omni H. Sable.
		<a href="https://github.com/Highstaker/Picture-data-organizer-site" target=_blank">Project repo</a>
		<!--TODO:<span>{{VERSION}}</span>-->
	</footer>
</body>
</html>
